language: rust
rust:
  - stable
  - beta
  - nightly
script: cargo build --verbose --release; cargo test --verbose  
matrix:
  allow_failures:
    - rust: nightly
  fast_finish: true
os:
  - linux
  - osx
before_deploy:
  - "if [[ -f target/release/ayu ]]; then mv target/release/ayu \"target/release/ayu-$TRAVIS_TAG-$TRAVIS_OS_NAME\"; fi"
deploy:
  - provider: cargo
    on:
      tags: true
      condition: "$TRAVIS_RUST_VERSION = stable && $TRAVIS_OS_NAME = linux"
      branch: master
    token:
      secure: "eeKR7NC+t7wJhC484tgQQ/FjvV3LioUv2/39IoX4V3E+f9VK/HoB+RgpXui3oMbpmcNnObVbADutOZrzy2Ih27FOXOgmhb2eHFu+AMJunJvpqpRRPGue1NG+Qyu4GVwhOrXJOOzn1vKbhFO27v/vCalGoZywPG9B32FQaXddDn18yeGWm5nRHHRBWq4gUdtuLWeeA+L4pqxw7Aa7VvmedlASEGEUkerAYYftXAydiB5iks6PvQOCcHhx1KfJ9tn86cjHd7+t854KldDKMzEXURrxjHDdT/yv6dq5FbmKFaOblWNwuHTQcL9C6Xxdv7NSaHdJQEFwUlWi8klpuqkqFSMi21sJ8R3LZcZwg8OfmM0o0z3OIN1Sq8E2ipPNmFjAyvpYq1PmcNPeIGsKCDfgb9FSYFdLfUmJzGFCNn2BQ6bcACdjXnZGQdsjTLu/5O76m8WxAtSck3z0tRAOryllkkNdPSo8Er3pRjaoIRO/DPTn0VkVi66LwGA8TrwQ2zLfqgdlT0uttzcdrHn5uJ0Qo7satVEKOcGpVZRQGlLGQipYG1q0xnzEDvdE7lt0VWmJBYkWehJ0do+rEFjdleWUndXp0tu8SLYquIT20ug3gDiGmZlCr2gkTs93MJ0u0+FKKBexD1x+buogpzyXllGsda0DV2wvLLsJEI7QadENx+M="
  - provider: releases
    on:
      tags: true
      condition: "$TRAVIS_RUST_VERSION = stable"
      branch: master
    file_glob: true
    file:
      - target/release/ayu-*
    api_key: 
      secure: "eeKR7NC+t7wJhC484tgQQ/FjvV3LioUv2/39IoX4V3E+f9VK/HoB+RgpXui3oMbpmcNnObVbADutOZrzy2Ih27FOXOgmhb2eHFu+AMJunJvpqpRRPGue1NG+Qyu4GVwhOrXJOOzn1vKbhFO27v/vCalGoZywPG9B32FQaXddDn18yeGWm5nRHHRBWq4gUdtuLWeeA+L4pqxw7Aa7VvmedlASEGEUkerAYYftXAydiB5iks6PvQOCcHhx1KfJ9tn86cjHd7+t854KldDKMzEXURrxjHDdT/yv6dq5FbmKFaOblWNwuHTQcL9C6Xxdv7NSaHdJQEFwUlWi8klpuqkqFSMi21sJ8R3LZcZwg8OfmM0o0z3OIN1Sq8E2ipPNmFjAyvpYq1PmcNPeIGsKCDfgb9FSYFdLfUmJzGFCNn2BQ6bcACdjXnZGQdsjTLu/5O76m8WxAtSck3z0tRAOryllkkNdPSo8Er3pRjaoIRO/DPTn0VkVi66LwGA8TrwQ2zLfqgdlT0uttzcdrHn5uJ0Qo7satVEKOcGpVZRQGlLGQipYG1q0xnzEDvdE7lt0VWmJBYkWehJ0do+rEFjdleWUndXp0tu8SLYquIT20ug3gDiGmZlCr2gkTs93MJ0u0+FKKBexD1x+buogpzyXllGsda0DV2wvLLsJEI7QadENx+M="
